:root {
  --white: #FFFFFF;
  --navy-dark: #002232;
  --navy-darker: #00151f;
  --softblue-light: #b6f0ff;
  --softblue-lighter: #c6f4ff;
  --berry-blue: #79CBE3;
  --link-light: #941352;
}

* {
  font-family: 'Fira Code', sans-serif;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body, html {
  color:var(--softblue-lighter);
  background: var(--navy-darker);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
}

button {
  margin-left: auto;
}

main {
  width: calc(100% - 100px);
  margin: 0 40;
}

p {
  margin: 1em 0;
}

#hurry {
  background: var(--berry-blue);
}

#hurry:hover {

}

a {
  color: var(--berry-blue);
  text-decoration: none;
}

#rude:hover {
  text-decoration: line-through;
}

footer {
  background-color: var(--navy-dark);
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
