:root {
  --navy-dark: #002232;
  --navy-darker: #00151f;
  --softblue-light: #b6f0ff;
  --softblue-lighter: #c6f4ff;
  --berry-blue: #79CBE3;
  --link-light: #941352;
}

* {
  font-family: 'Fira Code', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  color: var(--softblue-lighter);
  background: var(--navy-darker);
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--berry-blue);
  text-decoration: underline;
}

p {
  margin: .5em 0;
}

#page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#content-wrap {
  padding-bottom: 20vh;
  max-width: 90%;
}

#tldr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1.5em auto;
  width: 90%;
}

.tldr-dicotomy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--navy-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 20vh;
  padding: 0 1em;
}
