:root {
  --navy-dark: #002232;
  --navy-darker: #00151f;
  --softblue-light: #b6f0ff;
  --softblue-lighter: #e5f9ff;
  --berry-blue: #79CBE3;
  --link-light: #941352;
}

* {
  font-family: 'Fira Code', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
  line-height: 1.4;
  color: var(--softblue-lighter);
  background: var(--navy-darker);
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: .5em;
}

@media only screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    flex-direction: row;
  }

  h1 {
    margin-bottom: 0;
  }
}

article section {
  margin: 2em 0;
}

button {
  border: none;
}

a {
  color: var(--berry-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 1.2em 0;
}

ul li {
  list-style-type: none;
  margin: 1em 0;
}

.q-list li a {
  color: var(--softblue-lighter);
}

.q-list li a:hover {
  color: var(--berry-blue);
}

.q-list li::before {
  transition: 200ms linear all;
  display: inline-block;
  content: "↗";
}

.q-list li:hover::before {
  color: var(--berry-blue);
  transform: rotate(135deg);
}

p {
  margin: .8em 0;
}

#hurry {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: var(--softblue-lighter);
  padding: 1em 2em;
  border-radius: 32px;
  transition: 100ms linear all;
}

#hurry:hover {
  outline: solid var(--softblue-lighter) .2em;
}

#page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

#content-wrap {
  padding-bottom: 10em;
  width: min(85%, 700px);
  margin: 2em 0;
}

#og:hover {
  text-decoration: line-through;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: var(--navy-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  padding: 0 1em;
}

footer p {
  margin: .5em 0;
}

#tldr {
  margin: 2em 0 0;
}

#tldr > div {
	display: flex;
  margin-bottom: 1.2em;
}

#tldr > div > .twitter-tweet {
	max-width: 100%;
  margin-inline: auto;
}

.tldr-dicotomy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.do-dont-title{
  margin: 1em 0;
}
